.App {
  text-align: center;
}

/* This defines what our header looks like */
.App-header {
  background-color: blanchedalmond;
  min-height: 10vh; /* So I THINK this is (by default) a percentage of the page that the 'thing' takes up */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #857b72;
}

.App-body {
  background-color: burlywood;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: hsl(0, 0%, 100%);
}

.App-link {
  color: cadetblue;
}
